<div class="row">
<h1>Создание запчасти</h1>
	<div class="col-sm-6 col-sm-offset-1">
		<%= render 'form', cp_part: @cp_part %>
	</div>
	<div class="col-sm-12">
		<hr>
		<%= link_to 'Назад', cp_parts_path, class: "btn btn-default btn-sm" %>
	</div>
</div>
